<section class="container xs-mt-50 xs-mb-70" id="challenge">
<div class="row row-centered">
    <div class="col-md-12 col-centered">
        <a id="challenge"></a>
        <h2><perch:content id="header" type="textarea" size="s" label="Header" required="true" title="true" markdown="true" html="true" editor="markitup"/></h2>
        <h3><perch:content id="subheader" type="text" label="Subheader" required="true" title="true" html="true" editor="markitup"/></h3>
        <a data-toggle="modal" data-target="#trailer">
          <img class="img-fluid sm-mt-50 xm-mt-30" alt="The At the Fork Challenge" src="<perch:content type="image" id="challenge-video-overlay" label="Image for Challenge Video Overlay" />" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 xs-mt-50 col-centered">
        <h3><perch:content id="header2" type="text" label="Second Header" required="true" title="true" html="true" editor="markitup"/></h3>
        <p><perch:content id="part2" type="textarea" label="Description" markdown="true" html="true"  editor="markitup" imagewidth="640" imageheight="480" /></p>
    </div>
</div>
<div class="row row-centered">
    <div class="col-md-12 xs-mt-50">
        <h3><perch:content id="header3" type="text" label="Third Header" required="true" title="true" html="true" editor="markitup"/></h3>
        <div class="col-sm-4 col-xs-10 col-centered xs-mt-20"><perch:content id="part3" type="textarea" label="Description" markdown="true" html="true" editor="markitup" imagewidth="640" imageheight="150" /></div>
    </div>
</div>
</section>
