<section class="container xs-mt-80 ">
    <div class="row row-centered">
        <div class="col-md-12">
            <h3><perch:content type="text" id="header1" label="Credits Header" required="true" help="A production of" /></h3>
            <div class="xs-mt-50 col-md-2 col-sm-3 col-xs-4 col-centered">
              <perch:if exists="eo-url"><a href="<perch:content type="text" id="eo-url" label="Image Link" required="false" />"></perch:if>
                  <img class="img-fluid" src="<perch:content type="image" id="eo-image" label="Logo"/>" alt="<perch:content type="text" id="partner-name1" label="Name" required="true" />">
              <perch:if exists="eo-url"></a></perch:if>
            </div>

        </div>
    </div>
    <div class="row row-centered">
        <div class="col-md-12 xs-mt-70">
            <h3>In Partnership With</h3>
            <div class="xs-mt-50 col-md-2 col-sm-3 col-xs-4 col-centered">
              <perch:if exists="2-url"><a href="<perch:content type="text" id="2-url" label="Image Link" required="false" />"></perch:if>
                  <img class="img-fluid" src="<perch:content type="image" id="2-image" label="Logo"/>" alt="<perch:content type="text" id="partner-name2" label="Name" required="true" />">
              <perch:if exists="2-url"></a></perch:if>
            </div>
            <div class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-3 col-xs-4 xs-mt-50 col-centered">
              <perch:if exists="3-url"><a href="<perch:content type="text" id="3-url" label="Image Link" required="false" />"></perch:if>
                  <img class="img-fluid" src="<perch:content type="image" id="3-image" label="Logo"/>" alt="<perch:content type="text" id="partner-name3" label="Name" required="true" />">
              <perch:if exists="3-url"></a></perch:if>
            </div>
        </div>
    </div>
</section>
