<section class="container xs-mt-80 xs-mb-70" id="filmmakers">
    <div class="row row-centered">
        <div class="col-md-12 col-centered xs-mt-40 lg-mb-100">
            <a id="filmmakers"></a>
            <h2><span>Meet the Filmmakers</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 xs-mt-80">
          <img class="img-fluid" src="<perch:content type="image" id="image-main1" label="Headshot" />" alt="<perch:content type="text" id="name1" label="Full Name" required="true" help="e.g. John Doe" />" />
        </div>
        <div class="col-md-7 xs-mt-80">
          <h2 class="text-left"><perch:content type="text" id="name1" label="Full Name" required="true" help="e.g. John Doe" /></h2>
          <h3 class="text-left"><perch:content type="text" id="job1" label="Job Title" required="true" help="e.g. Editor" /></h3>
          <p><perch:content type="textarea" id="bio" label="Bio" required="true" help="e.g. Editor" markdown="true" editor="markitup"/></p>
        </div>
    </div>
    <div class="row xs-mt-50">
        <div class="col-md-7 xs-mt-50">
            <h2 class="text-left"><perch:content type="text" id="name2" label="Full Name" required="true" help="e.g. John Doe" /></h2>
            <h3 class="text-left"><perch:content type="text" id="job2" label="Job Title" required="true" help="e.g. Editor" /></h3>
            <p><perch:content type="textarea" id="bio2" label="Bio" required="true" help="e.g. Editor" markdown="true" editor="markitup"/></p>
        </div>
        <div class="col-md-5 xs-mt-50">
          <img class="img-fluid" src="<perch:content type="image" id="image-main2" label="Headshot" />" alt="<perch:content type="text" id="name2" label="Full Name" required="true" help="e.g. John Doe" />" />
        </div>
    </div>
    <div class="row row-centered xs-mt-50">

      <perch:repeater id="more-filmmakers" label="Add Crew Members">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-centered filmmaker-box">
          <div class="col-md-4 col-xs-4 xs-mt-50">
              <img class="img-fluid" src="<perch:content type="image" id="image-secondary" label="Headshot" width="130" height="130" />" alt="<perch:content type="text" id="name" label="Full Name" required="true" help="e.g. John Doe" />" />
          </div>
          <div class="col-md-8 xs-mt-50">
              <h4><perch:content type="text" id="name" label="Full Name" required="true" help="e.g. John Doe" /></h4>
              <h6><perch:content type="text" id="job-title" label="Job Title" required="true" help="e.g. Editor" /></h6>
          </div>
          <div class="col-md-12 xs-mt-20">
              <p><perch:content type="textarea" id="bio-secondary" label="Bio" required="true" help="e.g. Editor" markdown="true" editor="markitup"/></p>
          </div>
      </div>
      </perch:repeater>


   </div>
</section>
