<footer class="footer sm-mt-100 xs-mt-50">
    <div class="container">
        <div class="row-centered">
            <div class="col-md-12 xs-mt-80">
                <h3><perch:content id="header" type="text" label="Header" required="true" title="true" /></h3>
                <div class="col-sm-4 col-xs-10 col-centered xs-mt-30"><perch:content id="part3" type="textarea" label="Description" markdown="true" html="true" editor="markitup" imagewidth="640" imageheight="150" /></div>
            </div>
            <div class="footer-nav col-md-12 xs-mt-50 col-centered">
                <ul>
                  <perch:repeater id="footer-nav" label="Add Footer Nav Link">

                    <li>

                      <perch:content id="link-text" type="text" label="Link HTML" html="true" required="true" title="true" />

                    </li>

                </perch:repeater>
                </ul>
            </div>
            <div class="xs-mt-50 row footer-boxes">
                <div class="col-md-offset-1 col-sm-offset-3 col-xs-offset-2 col-md-4 col-sm-6 col-xs-8 footer-box">
                    <h6><perch:content id="footer-block1" type="text" label="Block 1 Header" required="true" title="true" /></h6>
                    <p class="xs-pr-30 xs-pl-30"><perch:content id="footer-block1-content" type="text" label="Block 1 Text" required="true" title="true" /></p>
                </div>
                <div class="clearfix visible-xs xs-mt-40">
                  <br/>
                </div>
                <div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-2 col-md-4 col-sm-6 col-xs-8 footer-box">
                    <h6><perch:content id="footer-block2" type="text" label="Block 2 Header" required="true" title="true" /></h6>
                    <p class="xs-pr-30 xs-pl-30"><perch:content id="footer-block2-content" type="text" label="Block 2 Text" required="true" title="true" /></p>
                    <p class="col-md-12"><a class="button btn-charcoal btn-lg btn-block" href="#organize" role="button">Organize a Screening</a></p>
                </div>

            </div>
            <div class="col-md-12 xs-mt-80 xs-mb-50 copyright">
              <perch:content id="copyright" type="textarea" label="Copyright" markdown="true" html="true" editor="markitup" imagewidth="640" imageheight="150" />

            </div>
        </div>
    </div>
</footer>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-77384089-1', 'auto');
ga('send', 'pageview');
</script>
