<section id="quotes" class="container-fluid row-green">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>“<perch:content id="text" type="text" label="Quote Text" required="true" title="true" markdown="true" size="m"/>”</h2>
                    <h5><perch:content id="author" type="text" label="Author" required="true" title="true" />, <em><perch:content id="title" type="text" label="Job Title, Affiliation" required="true" title="true" /></em></h5>
                </div>
            </div>
        </div>
    </div>

</section>
