<section class="container" id="see-film">
    <div class="row row-centered">
        <div class="col-md-12 xs-mt-70 xs-mb-70 col-centered">
            <a id="see-the-film"></a>

            <h2><perch:content id="header-as-h2" type="text" label="Header Text" required="true" title="true" /></h2>
            <h3 class="md-mb-50 xs-mb-20"><perch:content id="header-as-h5" type="text" label="Subheader Text" required="true" title="true" /></h3>
            <?php perch_content('Tugg Code'); ?>


        </div>
    </div>
    <perch:repeater id="row-centered" label="New Row" max="3">
    <div class="row row-centered">
        <div class="col-md-12 col-centered">
            <perch:if exists="header-as-h5">
              <h3><perch:content id="header-as-h5" type="text" label="Header Text" help="Leave blank for no heading" required="false" title="true" /></h3>
            </perch:if>
            <p><perch:content id="text" type="textarea" label="Text" markdown="true" editor="markitup" imagewidth="640" imageheight="480" /></p>
        </div>
    </div>
    </perch:repeater>

</section>
