<div id="<perch:content type="text" id="modal-id" label="Modal ID" required="true" help="e.g. Trailer" />" class="modal modal-trailer modal-fullscreen fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
              <perch:content id="text" type="textarea" label="Modal Content/HTML" html="true" editor="markitup" />
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
