<perch:form class="modal multi-step" id="contactform" method="post" app="perch_forms" data-toggle="validator">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title step-1" data-step="1">Step 1</h4>
                <h4 class="modal-title step-2" data-step="2">Step 2</h4>
            </div>
            <div class="modal-body step step-1">
              <div>
                  <perch:label for="first_name">First Name</perch:label>
                  <perch:input type="text" id="first_name" required="true" label="First Name" />
              </div>

              <div>
                  <perch:label for="last_name">Last Name</perch:label>
                  <perch:input type="text" id="last_name" label="Last Name" />
              </div>
            </div>
            <div class="modal-body step step-2">

              <div>
                  <perch:label for="email">Email Address</perch:label>
                  <perch:input type="email" id="email" required="true" label="Email Address" placeholder="Email" data-error="Bruh, that email address is invalid" />
                  <div class="help-block with-errors"></div>
              </div>

              <div>
                  <perch:label for="message">Message</perch:label>
                  <perch:input type="textarea" id="message" label="Message" rows="5" encode="false" />
              </div>
              <div>
                  <perch:input type="submit" id="submit" value="Send Message" />
              </div>

              <perch:success>
              <script>
                      return 'SUCCESS';
              </script>
              </perch:success>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent()">Continue</button>
            </div>
        </div>
    </div>
</perch:form>

<script>

sendEvent = function() {
  $('#form').validator().on('submit', function (e) {
  if (e.isDefaultPrevented()) {
    // handle the invalid form...
  } else {
      $('#form1_contactform').trigger('next.m.2');
      }
    }
})
</script>
