<perch:form id="contactform" action="javascript:void(0);" method="post" app="perch_forms">

    <div>
        <perch:label for="first_name">First Name</perch:label>
        <perch:input type="text" id="first_name" required="true" label="First Name" />
    </div>

    <div>
        <perch:label for="last_name">Last Name</perch:label>
        <perch:input type="text" id="last_name" label="Last Name" />
    </div>

    <div>
        <perch:label for="email">Email Address</perch:label>
        <perch:input type="email" id="email" required="true" label="Email Address" />
    </div>

    <div>
        <perch:label for="message">Message</perch:label>
        <perch:input type="textarea" id="message" label="Message" rows="5" encode="false" />
    </div>

    <div>
        <perch:input type="submit" id="submit" value="Send Message" />
    </div>

    <perch:success>
    <script>
            return 'SUCCESS';
    </script>
    </perch:success>
</perch:form>
