<div id="organize" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <perch:form id="organizeform" action="javascript:void(0);" method="post" app="perch_forms perch_mailchimp" double-optin="true">
                    <perch:content id="intro" type="textarea" label="Intro" markdown="true" editor="markitup" size="m" />
                    <h3>step 1</h3>
                    <section data-step="0">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <perch:label for="firstname">First name</perch:label>
                                <perch:input class="form-control" id="firstname" name="firstName" required="false" type="text" />
                            </div>

                            <div class="col-xs-6">
                                <perch:label for="lastname">Last name</perch:label>
                                <perch:input class="form-control" id="lastname" name="lastName" required="false" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <perch:label for="email">Email</perch:label>
                            <perch:input class="form-control" id="email" required="true" name="email" type="email" mailer="email" />

                        </div>
                        <div class="form-group">
                            <perch:label for="email">Phone Number</perch:label>
                            <perch:input id="phone" required="true" name="phone" type="text" mailer="phone" class="form-control input-medium bfh-phone" data-country="US" />
                        </div>
                    </section>
                    <h3>step 2</h3>
                    <section data-step="1">




                    </section>
                    <h3>step 3</h3>
                    <section data-step="2">
                        <div class="col-xs-4">
                            <perch:label for="lastBox">Last Box *</perch:label>
                            <perch:input id="lastBox" name="lastBox" required="true" type="text" />
                        </div>

                        <div>
                            <perch:input id="confirm" type="checkbox" mailer="confirm_subscribe" value="1" />
                            <perch:label for="confirm">Subscribe to the newsletter?</perch:label>
                        </div>

                        <div>
                            <perch:input type="submit" id="submit" value="Send" />
                            <perch:input type="hidden" id="list" value="45890a23da" mailer="list" />
                        </div>
                    </section>
                    <perch:success>
                        <script>
                            return 'SUCCESS';
                        </script>
                    </perch:success>


                </perch:form>
                <div style="display:none;" id="success-message">
                    YAS
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
    </div>
</div>
